# 'buildserver' for Artifactory / JFrog
registry = https://zignal.artifactoryonline.com/zignal/api/npm/npm
_auth = YnVpbGRzZXJ2ZXI6QVA1ZG9CaUZuNXl0aWhEa3VlU1JCa3B0OXpv
always-auth = true
email = frontend@zignallabs.com

# @see https://docs.npmjs.com/misc/config
dev = false
engine-strict = true
fetch-retries = 2
fetch-retry-factor = 2
fetch-retry-mintimeout = 1000
production = false
rollback = true
save = false
save-dev = false
save-exact = false
save-prefix = "^"
shrinkwrap = true
